body { margin: 0px; }

.gwt-Label-padded { padding-left: 5px; }

.gwt-Label-status { color: #888888; width: 60px; }
.gwt-Label-red { color: #AA0000; }
.gwt-Label-green { color: #00AA00; }

.gwt-TabBar { background-color: #DDDDDD; }
.gwt-TabBarFirst { width: 0px; }
.gwt-TabBarItem { padding: 10px 20px 10px 20px; }
.gwt-TabBarItem-selected { background-color: #AAAAAA; }

.gwt-TabPanelBottom { padding: 10px 15px 10px 15px; }

.centered-cell { text-align: center; }
.padded-cell { padding-right: 15px; padding-left: 15px; }
.odd-row { background-color: #E4E4E4; }